@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}

body {
    font-family: Open Sans;
    @include flexCenter();
    overflow: hidden;
    background: #fff;
    background-size: cover;
}

h1 {
    position: absolute;
    top: 2rem;
    font-family: monospace;
}

.leftBox {
    position: absolute;
    width: 20rem;
    height: 40rem;
    left: 100px;
    top: 20%;
    font-family: monospace;
    input[type="checkbox"] {
        width: 20px;
        height: 20px;
        margin-right: 8px;
        cursor: pointer;
    }

    p {
        font-size: small;
        margin-bottom: 10px;
    }
}

.middleBox {
    position: relative;
    margin: 0 auto;
    width: 40rem;
    height: 40rem;
    &::after {
        position: absolute;
        content: "";
        width: 50px;
        height: 70px;
        background: url("picker.png") no-repeat;
        background-size: 32px;
        right: -40px;
        top: 300px;
        transform: rotate(90deg);
    }
    .middleBox_pie {
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 50%;
        border: 10px solid #fff;
        overflow: hidden;
        transition: all ease 5s;
        li {
            overflow: hidden;
            position: absolute;
            top: -20%;
            right: -20%;
            width: 70%;
            height: 70%;
            transform-origin: 0% 100%;
    
        }
    }
    .middleBox_spin {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 75px;
        width: 75px;
        border-radius: 50%;
        border: 4px solid #fff;
        background-color: #ff5722;
        color: #fff;
        box-shadow: 0 5px 20px #000;
        font-weight: bold;
        font-size: 22px;
        cursor: pointer;
        &:active {
            width: 70px;
            height: 70px;
            font-size: 20px;
        }
        &:focus {
            outline: 0 !important;
        }
    }
}

.rightBox {
    @include flexCenter();
    position: absolute;
    width: 20rem;
    height: 40rem;
    right: 100px;
    top: 10%;

    .shuffleButton {
        background-color: white;
        color: #6f71f8;
        border: 2px solid #6f71f8;
        border-radius: 8px;
        padding: 14px 20px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        font-family: monospace;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        &:hover {
            background-color: #6f71f8;
            color: white;
        }
    }
}
