* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}

body {
    font-family: Open Sans;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: #fff;
    background-size: cover;
}
h1 {
    position: absolute;
    top: 2rem;
    font-family: monospace;
}

.namebox {
    position: absolute;
    width: 20rem;
    height: 40rem;
    left: 100px;
    top: 10%;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    cursor: pointer;
}


.mainbox {
    position: relative;
    margin: 0 auto;
    width: 40rem;
    height: 40rem;
}

.mainbox::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 70px;
    background: url("picker.png") no-repeat;
    background-size: 32px;
    right: -40px;
    top: 300px;
    transform: rotate(90deg);
}
.mainbox_pie {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
    border: 10px solid #fff;
    overflow: hidden;
    transition: all ease 5s;
}

li {
    overflow: hidden;
    position: absolute;
    top: -20%;
    right: -20%;
    width: 70%;
    height: 70%;
    transform-origin: 0% 100%;
}
.mainbox_spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: 4px solid #fff;
    background-color: #ff5722;
    color: #fff;
    box-shadow: 0 5px 20px #000;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
}

.mainbox_spin:active {
    width: 70px;
    height: 70px;
    font-size: 20px;
}
.mainbox_spin:focus {
    outline: 0 !important;
}

h2 {
    font-family: monospace;
}

p {
    font-family: monospace;
    font-size: small;
}
.btn-primary-spacing {
    position: absolute;
    top: 50%;
    left: 25%;
}
